

.header {
	grid-row-start: 0;
	grid-column-start: 4;
	font-size: 25px;	
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-container {
	grid-row-start: 2;
	grid-column-start: 4;
	margin-bottom: 25px;
}

.search-bar {
	font-size: 20px;
	display: flex;
	text-align: center;
	justify-content: center;
}

.sort-container {
	grid-row-start: 2;
	grid-column-start: 2;
	margin-bottom: 25px;
}

.pokemon-list {
	grid-row-start: 3;
	grid-column-start: 2;
	grid-column-end: 4;
	list-style: none;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 65vh;
	border: 1px solid black;
}

button {
	position: relative;
	width: 250px;
	height: 60px;
	margin: 10px;
	padding: 5px;
}

.button-content {
	/* border: 1px solid black; */
	position: absolute;
	top: -17px;
	left: 10px;
	font-size: 20px;
	font-family: 'Source Code Pro', monospace;
	font-weight: '200';
}

.button-img {
	vertical-align: middle;
	margin-left: 5px;
	width: 50px;
	height: 50px;
}