.header {
  grid-row-start: 0;
  grid-column-start: 4;
  grid-column-end: 6;
  font-size: 25px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-container {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 8;
  /* margin-bottom: 25px; */
}

.search-bar {
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: flex-end;
}
#search {
  border: 2px solid darkgrey;
}

.sort-container {
  grid-row-start: 2;
  grid-column-start: 2;
  font-size: 20px;
  /* margin-bottom: 25px; */
}
.sort-bar {
  border: 2px solid darkgrey;
}
.sort-bar:hover {
  cursor: pointer;
}

.pokemon-list {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  list-style: none;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 65vh;
}

.pokemon-list::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
}

.pokemon-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.list-button {
  display: flex;
  /* position: relative; */
  width: 95%;
  height: 55px;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.list-button:hover {
  cursor: pointer;
}

.button-content {
  /* border: 1px solid black; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-text {
  font-size: 1rem;
  font-family: "Source Code Pro", monospace;
  font-weight: "200";
}

.button-img {
  width: 25%;
  height: 25%;
}

.error {
  color: red;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .search-bar {
    font-size: 10px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
  }
  #search {
    border: 1px solid darkgrey;
  }

  .sort-container {
    font-size: 10px;
    /* margin-bottom: 25px; */
  }
  .sort-bar {
    border: 1px solid darkgrey;
  }

  .list-button {
    height: auto;
  }

  .button-content {
    display: flex;
    flex-direction: column;
  }

  .button-text {
    font-size: 10px;
    margin: 0%;
  }

  .button-img {
    width: 100%;
  }

  .select {
    font-size: 12px;
  }
}
