.header {
  display: grid;
  grid-row-start: 0;
  grid-column-start: 4;
  grid-column-end: 6;
  height: 100%;
}

.title {
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  text-transform: uppercase;
  transform: none;
}

.background-title {
  display: flex;
  z-index: -2;
  background-color: rgb(210, 210, 210);
  box-shadow: 2px 2px 5px black;
  transform: skewX(-15deg);
  height: 45%;
  padding: 5px;
  align-self: center;
  justify-self: center;
}

.search-container {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 8;
}

.search-bar {
  font-size: 1rem;
  display: flex;
  text-align: center;
  justify-content: flex-end;
}

#search {
  border: 2px solid darkgrey;
}

.sort-container {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

.sort {
  display: flex;
  font-size: 1rem;
}

.sort-bar {
  border: 2px solid darkgrey;
  font-family: inherit;
}

.sort-bar:hover {
  cursor: pointer;
}

.pokemon-list {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  list-style: none;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 65vh;
}

.pokemon-list::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
}

.pokemon-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.list-button {
  display: flex;
  width: 95%;
  height: 55px;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: white;
}

.list-button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.button-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-text {
  font-size: 1rem;
  font-family: "Source Code Pro", monospace;
  font-weight: "200";
}

.button-img {
  width: 25%;
  height: 25%;
  max-width: 53px;
}

.error {
  color: red;
  font-size: 1rem;
}

.selected {
  background-color: rgb(180, 180, 180);
  border: 2px solid dimgray;
}

@media screen and (max-width: 768px) {
  .header {
    grid-row-start: 0;
    grid-column-start: 3;
    grid-column-end: 7;
  }

  .title {
    font-size: 2.5rem;
    /* margin-top: 33px; */
  }

  .search-bar {
    font-size: 1rem;
    display: flex;
    text-align: center;
    justify-content: flex-end;
  }

  #search {
    border: 1px solid darkgrey;
    width: 100%;
  }

  .sort-container {
    font-size: 1rem;
  }

  .sort-bar {
    border: 1px solid darkgrey;
  }

  .list-button {
    height: auto;
    border: 1px solid gray;
  }

  .button-content {
    display: flex;
    flex-direction: column;
  }

  .button-text {
    font-size: 0.75rem;
    margin: 0%;
  }

  .button-img {
    width: 100%;
  }

  .select {
    font-size: 2rem;
  }
}
