.modal-container {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 8;
}

.modal {
  display: flex;
  border: 2px solid darkgray;
  height: 100%;
  width: 100%;
  max-width: 600px;
  justify-self: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  text-transform: capitalize;
  justify-content: space-around;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  height: 10%;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #eee;
  height: 10%;
}

.modal-title {
  margin: 0;
  text-transform: capitalize;
  font-family: "Source Code Pro", monospace;
}

.modal-body {
  display: flex;
  /* flex-shrink: 1; */
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-basis: 0;
  width: 100%;
  height: 70%;
  text-align: center;
}

.pokemon-img {
  width: 100%;
}

.pokemon-sprite {
  width: 12rem;
  margin: -5%;
}

.pokemon-info {
  flex: 1;
  /* flex-shrink: 1; */
  flex-wrap: nowrap;
  flex-basis: 0;
  align-content: center;
}

.close-button {
  width: auto;
  margin-right: 10%;
  padding: 2%;
  font-family: inherit;
}

.close-button:hover {
  cursor: pointer;
}

.select-text {
  display: flex;
  align-self: center;
  justify-self: center;
  align-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
}

/* TYPES */

.type-text {
  margin: 1%;
  border: 1px solid gray;
  border-radius: 10px;
  width: 25%;
  color: white;
  justify-self: center;
  align-self: center;
}

.grass {
  background-color: rgb(116, 172, 49);
}

.grass-image {
  background-image: url("../Icons/grass.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.poison {
  background-color: rgb(129, 0, 128);
}

.poison-image {
  background-image: url("../Icons/poison.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.fire {
  background-color: rgb(229, 66, 16);
}

.fire-image {
  background-image: url("../Icons/fire.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.water {
  background-color: rgb(31, 98, 172);
}

.water-image {
  background-image: url("../Icons/water.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.bug {
  background-color: rgb(105, 212, 49);
}

.bug-image {
  background-image: url("../Icons/bug.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.normal {
  background-color: whitesmoke;
  color: black;
}

.normal-image {
  background-image: url("../Icons/normal.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.flying {
  background-color: cornflowerblue;
}

.flying-image {
  background-image: url("../Icons/flying.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.electric {
  background-color: rgb(246 229 82);
  color: black;
}

.electric-image {
  background-image: url("../Icons/electric.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.ground {
  background-color: rgb(152, 84, 0);
}

.ground-image {
  background-image: url("../Icons/ground.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.rock {
  background-color: rgb(103, 73, 36);
}

.rock-image {
  background-image: url("../Icons/rock.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.ghost {
  background-color: blueviolet;
}

.ghost-image {
  background-image: url("../Icons/ghost.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.psychic {
  background-color: rgb(147, 23, 189);
}

.psychic-image {
  background-image: url("../Icons/psychic.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.fairy {
  background-color: rgb(246, 123, 148);
}

.fairy-image {
  background-image: url("../Icons/fairy.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.dark {
  background-color: rgb(49, 49, 49);
}

.dark-image {
  background-image: url("../Icons/dark.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.steel {
  background-color: rgb(140, 165, 199);
}

.steel-image {
  background-image: url("../Icons/steel.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.fighting {
  background-color: maroon;
}

.fighting-image {
  background-image: url("../Icons/fighting.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.ice {
  background-color: rgb(150, 206, 255);
  color: black;
}

.ice-image {
  background-image: url("../Icons/ice.svg");
  background-repeat: repeat;
  background-size: 40px;
}

.dragon {
  background-color: mediumpurple;
}

.dragon-image {
  background-image: url("../Icons/dragon.svg");
  background-repeat: repeat;
  background-size: 40px;
}

/* @media screen and (max-width: 875px) {
  .pokemon-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
} */

@media screen and (max-width: 768px) {
  .modal {
    border: 1px solid darkgray;
    height: auto;
    width: 100%;
  }

  .modal-body {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .pokemon-sprite {
    width: 7rem !important;
    /* height: auto !important; */
    justify-self: center !important;
    align-self: center !important;
  }

  .pokemon-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pokemon-info {
    font-size: 1rem;
  }

  .type-text {
    font-size: 0.75rem;
  }

  .modal-header,
  .modal-footer {
    justify-content: center;
    align-items: center;
  }

  .close-button {
    width: auto;
    margin-right: 0;
    padding: 2%;
  }
}
