.modal-container {
	display: grid;
	grid-row-start: 3;
	grid-column-start: 4;
}

.modal {
	/* position: float; */
	/* left: 500px;
	top: 195px;
	right: 0;
	bottom: 0; */
	height: 500px;
	width: 500px;
	
	/* display: grid;
	grid-row-start: 2;
	grid-column-start: 5; */
	/* display: flex; */
	/* align-items: center;
	justify-content: center;	 */
}

.modal-content {
	background-color: white;
	border: 1px solid black;
	text-align: center;
	justify-content: center;
	text-transform: capitalize;
}

.modal-header, .modal-footer {
	justify-content: center;
	padding: 10px;
}

.modal-title {
	margin: 0;
	text-transform: capitalize;
}

.modal-body {
	padding: 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.pokemon-img {
	width: 200px;
	height: 200px;
	padding-left: 40px;
	display: flex;
	align-items: center;
	text-align: center;
}

.close-button {
	height: 50px
}
/* .modal-footer{
	height: 50px;
} */