.modal-container {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 8;
}

.modal {
  display: flex;
  border: 2px solid darkgray;
  height: 499px;
  width: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  text-transform: capitalize;
  justify-content: space-around;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  height: 15%;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #eee;
  height: 15%;
}

.modal-title {
  margin: 0;
  text-transform: capitalize;
}

.modal-body {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-basis: 0;
  width: 100%;
  height: 70%;
  text-align: center;
}

.pokemon-img {
  width: 100%;
}

.pokemon-info {
  flex: 1;
  flex-shrink: 1;
  flex-wrap: nowrap;
  flex-basis: 0;
  align-content: center;
}

.close-button {
  width: auto;
  margin-right: 10%;
  padding: 2%;
}

.close-button:hover {
  cursor: pointer;
}

.select-text {
  display: flex;
  align-self: center;
  justify-self: center;
  align-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
}

/* TYPES */

.type-text {
  margin: 1%;
  border: 1px solid gray;
  border-radius: 10px;
  width: 25%;
  color: white;
  justify-self: center;
  align-self: center;
}

.grass {
  background-color: rgb(116, 172, 49);
}

.poison {
  background-color: rgb(129, 0, 128);
}

.fire {
  background-color: rgb(229, 66, 16);
}

.water {
  background-color: rgb(31, 98, 172);
}

.bug {
  background-color: chartreuse;
}

.normal {
  background-color: whitesmoke;
}

.flying {
  background-color: cornflowerblue;
}

.electric {
  background-color: yellow;
}

.ground {
  background-color: rgb(152, 84, 0);
}

.rock {
  background-color: rgb(79, 45, 4);
}

.ghost {
  background-color: blueviolet;
}

.psychic {
  background-color: rgb(147, 23, 189);
}

.fairy {
  background-color: rgb(240, 41, 187);
}

.dark {
  background-color: rgb(49, 49, 49);
}

.steel {
  background-color: dimgray;
}

.fighting {
  background-color: maroon;
}

.ice {
  background-color: aliceblue;
}

.dragon {
  background-color: mediumpurple;
}

@media screen and (max-width: 768px) {
  .modal {
    border: 1px solid darkgray;
    height: auto;
    width: 100%;
  }

  .modal-body {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .pokemon-sprite {
    width: 65% !important;
    height: auto !important;
    justify-self: center !important;
    align-self: center !important;
  }

  .pokemon-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pokemon-info {
    font-size: 15px;
  }

  .modal-header,
  .modal-footer {
    justify-content: center;
    align-items: center;
  }

  .close-button {
    width: auto;
    margin-right: 0;
    padding: 2%;
  }
}
