@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;500;700&display=swap");

body {
  font-family: "Source Code Pro", monospace;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(50px, 100px)) 1fr;
  grid-gap: 1.5rem;
}

.background-type {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.background {
  background-color: rgb(210, 210, 210);
  transform: skewY(7deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(25px, 50px)) 1fr;
    grid-gap: 1.5rem;
  }
}
